/**
 * @name Knownsrc - Hellokitty
 * @author voidedveins
 * @version 0.0.1
 * @description Make ur discord cuter :3 made by knownsrc on github
 * @source https://github.com/knownsrc/discord-theme/knownsrc.theme.css
 */

/* Import Base */
@import url(https://leafyluigi.github.io/discord-themes/pyrite/build/base.css);

/* Import User Modal Layout */
@import url(https://leafyluigi.github.io/discord-themes/pyrite/build/userModalLayout.css);

/* Import BD Only Features */
@import url(https://leafyluigi.github.io/discord-themes/pyrite/build/better-discord.css);

/* Import Vencord Only Features */
@import url(https://leafyluigi.github.io/discord-themes/pyrite/build/vencord.css);

:root {
	--background-image: url('https://i.pinimg.com/564x/89/7d/bf/897dbffab642ac36314b35974f9e6cbb.jpg');
	--user-modal-image: var(--background-image);
	--user-popout-image: var(--background-image);
	--home-icon: url('https://i.pinimg.com/736x/ea/54/89/ea5489b93f7d6beb8dad72635115cbe0.jpg');
	--background-attachment: fixed;
	--user-modal-attachment: var(--background-attachment);
	--user-popout-attachment: var(--background-attachment);
	--primary-color: #ff38c7;
	--secondary-color: #ff38c7;
	--hover-color: #ff38c7;
	--tooltip-color: #ff38c7;
	--green-color: #43b581;
	--yellow-color: #f9a719;
	--red-color: #ec4144;
	--link-color: #00aef3;
	--live-color:  #583594;
	--offline-color: #737e8c;
	--category-color: var(--header-primary);
	--selected-channel-color: var(--header-primary);
	--unread-channel-color: var(--primary-color);
	--unread-channel-glow: drop-shadow(0 0 4px);
	--read-channel-color: var(--interactive-normal);
	--muted-channel-color: var(--interactive-muted);
	--show-channel-unread-dot: block;
	--locked-voice-channel-color: var(--red-color);
	--mention-background: var(--primary-color);
	--mention-opacity: 0.3;
	--code-font: Hack, Monaco, Consolas, Courier, monospace;
	--body-font: Whitney, "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, sans-serif;
	--background-filter: none;
	--user-modal-filter: none;
	--user-popout-filter: none;
	--user-modal-width: 900px;
	--user-modal-height: 600px;
	--hide-speed: 0.5s;
	--hide-member-list: 1;
	--hide-active-now: 1;
	--hide-profile-panel: 1;
	--hide-channel-list: 0;
	--win-min-max-close-button-width: 28px;

	--HSL-server-icon-size: 40px;
	--HSL-server-spacing: 10px;
	--HSL-server-direction: column;

	--update-notice-dec23: none; /*DONT TOUCH*/
}
.theme-dark,
.theme-dark :not(div[class*=previewContainer_]) .theme-light:not(div[class*=layer_]):not(div[class*=userProfileOuterThemed_]) {
	--card-background: rgba(0,0,0,0.5);
	--side-shading: rgba(0,0,0,0.5);
	--middle-shading: rgba(0,0,0,0.3);
	--header-shading: rgba(0,0,0,0.7);

	--hover-filter: rgba(0,0,0,0.2);
	--active-filter: rgba(0,0,0,0.4);
}

.theme-light,
.theme-light :not(div[class*=previewContainer_]) .theme-dark:not(div[class*=layer_]):not(div[class*=userProfileOuterThemed_]):not(div[class*=sidebar_]):not(nav[class*=guilds_]):not(div[class*=sidebarRegion_]) {
	--card-background: rgba(255,255,255,0.05);
	--side-shading: rgba(255,255,255,0.4);
	--middle-shading: rgba(255,255,255,0.3);
	--header-shading: rgba(255,255,255,0.5);
	--hover-filter: rgba(255,255,255,0.2);
	--active-filter: rgba(255,255,255,0.4);
}
